### <span style="color:brown">Notebook Instructions</span>

<i> You can run the notebook document sequentially (one cell a time) by pressing <b> shift + enter </b>. While a cell is running, In [*] will display on the left. When it has been run, a number will display indicating the order in which it was run in the notebook. Example: In [8]: </i>

<i> Enter edit mode by pressing <b> Enter </b> or using the mouse to click on a cell's editor area. Edit mode is indicated by a green cell border and a prompt showing in the editor area. </i>

## Pandas 'Groupby'

Any groupby operation involves one of the following operations on the original dataframe/object. They are:
<br>
1. <b>Splitting</b> the data into groups based on some criteria.<br>
<br>
2. <b>Applying</b> a function to each group seperately.<br>
<br>
3. <b>Combining</b> the results into a single data frame.<br>
<br>
Splitting the data is pretty straight forward. What adds value to this split is the 'Apply' step. This makes 'Groupby' function interesting. In the apply step, you may wish to do one of the following: <br>
<br>
a. Aggregation − Computing a summary statistic. Eg: Compute group sums or means.<br>
<br>
b. Transformation − perform some group-specific operation. Eg: Standarizing data (computing zscore) within the group.<br> 
<br>
c. Filtration − discarding the data with some condition.<br> 
<br>
Let us now create a DataFrame object and perform all the operations on it

In [17]:
# Creating a data frame

import pandas as pd

my_portfolio = {'Sector': ['IT', 'FMCG', 'Finance', 'Pharma', 'Pharma',
                          'FMCG', 'FMCG', 'IT', 'Finance', 'Real Estate'],
            
            'Company':   ['Infosys', 'Dabur', 'DHFL', 'Divis Lab', 'Lupin',
                         'Ruchira Papers', 'Britianna','Persistent Systems','Bajaj Finance', 'DLF'],
            
            'MarketCap': ['Large Cap','Large Cap','Mid Cap','Mid Cap','Mid Cap',
                         'Small Cap','Mid Cap','Small Cap','Large Cap','Mid Cap'],
            
            'Share Price': [1120,341,610,1123,741,185,5351,720,1937,217],
                
            'Amount Invested': [24000,16000,50000,23000,45000,12000,52000,18000,5000,3500]}

mp = pd.DataFrame(my_portfolio)

mp

   Amount Invested             Company  MarketCap       Sector  Share Price
0            24000             Infosys  Large Cap           IT         1120
1            16000               Dabur  Large Cap         FMCG          341
2            50000                DHFL    Mid Cap      Finance          610
3            23000           Divis Lab    Mid Cap       Pharma         1123
4            45000               Lupin    Mid Cap       Pharma          741
5            12000      Ruchira Papers  Small Cap         FMCG          185
6            52000           Britianna    Mid Cap         FMCG         5351
7            18000  Persistent Systems  Small Cap           IT          720
8             5000       Bajaj Finance  Large Cap      Finance         1937
9             3500                 DLF    Mid Cap  Real Estate          217

### View Groups

In [18]:
print (mp.groupby('MarketCap').groups)

{'Large Cap': Int64Index([0, 1, 8], dtype='int64'), 'Small Cap': Int64Index([5, 7], dtype='int64'), 'Mid Cap': Int64Index([2, 3, 4, 6, 9], dtype='int64')}

There are 3 Groups formed, if we group it by <b>'Market Cap'</b>. They are:<br>
<br>
Group 1: 'Large Cap' (3 companies at index 0,1,8)<br>
Group 2: 'Mid Cap' (5 companies at index 2,3,4,6,9)<br>
Group 3: 'Small Cap' (2 companies at index 5,7)<br>

In [19]:
# Understand this Grouping

print (mp.groupby('Sector').groups)

{'FMCG': Int64Index([1, 5, 6], dtype='int64'), 'IT': Int64Index([0, 7], dtype='int64'), 'Pharma': Int64Index([3, 4], dtype='int64'), 'Finance': Int64Index([2, 8], dtype='int64'), 'Real Estate': Int64Index([9], dtype='int64')}

There are 5 Groups formed, if we group it by <b>'Sector'</b>. They are:<br>
<br>
Group 1: 'FMCG' (3 companies at index 1,5,6)<br>
Group 2: 'IT' (2 companies at index 0,7)<br>
Group 3: 'Pharma' (2 companies at index 3,4)<br>
Group 4: 'Finance' (2 companies at index 2,8)<br>
Group 5: 'Real Estate' (1 company at index 9)<br>

In [20]:
# Group by with multiple columns

print (mp.groupby(['MarketCap','Sector']).groups)

{('Large Cap', 'FMCG'): Int64Index([1], dtype='int64'), ('Mid Cap', 'FMCG'): Int64Index([6], dtype='int64'), ('Large Cap', 'IT'): Int64Index([0], dtype='int64'), ('Small Cap', 'FMCG'): Int64Index([5], dtype='int64'), ('Mid Cap', 'Real Estate'): Int64Index([9], dtype='int64'), ('Small Cap', 'IT'): Int64Index([7], dtype='int64'), ('Mid Cap', 'Pharma'): Int64Index([3, 4], dtype='int64'), ('Large Cap', 'Finance'): Int64Index([8], dtype='int64'), ('Mid Cap', 'Finance'): Int64Index([2], dtype='int64')}

There are 8 Groups formed, if we group it by <b>'Sector'</b> and <b>'MarketCap'</b>. They are:<br>
<br>
Group 1: 'Large Cap, FMCG' (1 company at index 1)<br>
Group 2: 'Mid Cap, FMCG' (1 company at index 6)<br>
Group 3: 'Large Cap, IT' (1 company at index 0)<br>
Group 4: 'Small Cap, FMCG' (1 company at index 5)<br>
Group 5: 'Mid Cap, Real Estate' (1 company at index 9)<br>
Group 6: 'Small Cap, IT' (1 company at index 7)<br>
Group 7: 'Mid Cap, Pharma' (2 companies at index 3,4)<br>
Group 8: 'Mid Cap, Finance' (1 company at index 2)<br>

### Iterating through groups

In [21]:
# A better way to visualise

grouped = mp.groupby('Sector')

for name,group in grouped: 
    print (name)
    print (group)

FMCG
   Amount Invested         Company  MarketCap Sector  Share Price
1            16000           Dabur  Large Cap   FMCG          341
5            12000  Ruchira Papers  Small Cap   FMCG          185
6            52000       Britianna    Mid Cap   FMCG         5351
Finance
   Amount Invested        Company  MarketCap   Sector  Share Price
2            50000           DHFL    Mid Cap  Finance          610
8             5000  Bajaj Finance  Large Cap  Finance         1937
IT
   Amount Invested             Company  MarketCap Sector  Share Price
0            24000             Infosys  Large Cap     IT         1120
7            18000  Persistent Systems  Small Cap     IT          720
Pharma
   Amount Invested    Company MarketCap  Sector  Share Price
3            23000  Divis Lab   Mid Cap  Pharma         1123
4            45000      Lupin   Mid Cap  Pharma          741
Real Estate
   Amount Invested Company MarketCap       Sector  Share Price
9             3500     DLF   Mid Cap  Real Estate          217

In [22]:
# Just so that you feel comfortable, go through this line of code too

grouped = mp.groupby('MarketCap')

for name,group in grouped:  # We will learn 'for' loop in further sections. It is usually used for iterations 
    print (name)
    print (group)

Large Cap
   Amount Invested        Company  MarketCap   Sector  Share Price
0            24000        Infosys  Large Cap       IT         1120
1            16000          Dabur  Large Cap     FMCG          341
8             5000  Bajaj Finance  Large Cap  Finance         1937
Mid Cap
   Amount Invested    Company MarketCap       Sector  Share Price
2            50000       DHFL   Mid Cap      Finance          610
3            23000  Divis Lab   Mid Cap       Pharma         1123
4            45000      Lupin   Mid Cap       Pharma          741
6            52000  Britianna   Mid Cap         FMCG         5351
9             3500        DLF   Mid Cap  Real Estate          217
Small Cap
   Amount Invested             Company  MarketCap Sector  Share Price
5            12000      Ruchira Papers  Small Cap   FMCG          185
7            18000  Persistent Systems  Small Cap     IT          720

### Select a group

In [23]:
import pandas as pd

my_portfolio = {'Sector': ['IT', 'FMCG', 'Finance', 'Pharma', 'Pharma',
                          'FMCG', 'FMCG', 'IT', 'Finance', 'Real Estate'],
            
            'Company':   ['Infosys', 'Dabur', 'DHFL', 'Divis Lab', 'Lupin',
                         'Ruchira Papers', 'Britianna','Persistent Systems','Bajaj Finance', 'DLF'],
            
            'MarketCap': ['Large Cap','Large Cap','Mid Cap','Mid Cap','Mid Cap',
                         'Small Cap','Mid Cap','Small Cap','Large Cap','Mid Cap'],
            
            'Share Price': [1120,341,610,1123,741,185,5351,720,1937,217],
                
            'Amount Invested': [24000,16000,50000,23000,45000,12000,52000,18000,5000,3500]}

mp = pd.DataFrame(my_portfolio)

grouped = mp.groupby('MarketCap')

print (grouped.get_group('Mid Cap'))

   Amount Invested    Company MarketCap       Sector  Share Price
2            50000       DHFL   Mid Cap      Finance          610
3            23000  Divis Lab   Mid Cap       Pharma         1123
4            45000      Lupin   Mid Cap       Pharma          741
6            52000  Britianna   Mid Cap         FMCG         5351
9             3500        DLF   Mid Cap  Real Estate          217

### Aggregations

In [24]:
import numpy as np

grouped = mp.groupby('MarketCap')

print (grouped['Amount Invested'].agg(np.mean))

MarketCap
Large Cap    15000
Mid Cap      34700
Small Cap    15000
Name: Amount Invested, dtype: int64

What does this mean?<br>
<br>
This means that on an average, we have invested Rs. 15000 per script in Large Cap, Rs. 34700 per script in Mid Cap and Rs. 15000 per script in Small Cap

In [25]:
grouped = mp.groupby('MarketCap')

print (grouped.agg(np.size))

           Amount Invested  Company  Sector  Share Price
MarketCap
Large Cap                3        3       3            3
Mid Cap                  5        5       5            5
Small Cap                2        2       2            2

What does this mean? <br>

This just shows the size of the group.

In [26]:
# Applying multiple aggregation functions at once

grouped = mp.groupby('MarketCap')

print (grouped['Amount Invested'].agg([np.sum, np.mean]))

              sum   mean
MarketCap
Large Cap   45000  15000
Mid Cap    173500  34700
Small Cap   30000  15000

What does this mean? <br>
<br>
This means that the 'total amount' invested in a particular sector is the 'sum' and 'average amount per script' invested in that sector is the 'mean' value.

### Transformations

In [27]:
import pandas as pd

my_portfolio = {'Sector': ['IT', 'FMCG', 'Finance', 'Pharma', 'Pharma',
                          'FMCG', 'FMCG', 'IT', 'Finance', 'Real Estate'],
            
            'Company':   ['Infosys', 'Dabur', 'DHFL', 'Divis Lab', 'Lupin',
                         'Ruchira Papers', 'Britianna','Persistent Systems','Bajaj Finance', 'DLF'],
            
            'MarketCap': ['Large Cap','Large Cap','Mid Cap','Mid Cap','Mid Cap',
                         'Small Cap','Mid Cap','Small Cap','Large Cap','Mid Cap'],
            
            'Share Price': [1120,341,610,1123,741,185,5351,720,1937,217],
                
            'Amount Invested': [24000,16000,50000,23000,45000,12000,52000,18000,5000,3500]}

mp = pd.DataFrame(my_portfolio)

print (mp)

grouped = mp.groupby('MarketCap')

z_score = lambda x: (x - x.mean()) / x.std()

print (grouped.transform(z_score))

   Amount Invested             Company  MarketCap       Sector  Share Price
0            24000             Infosys  Large Cap           IT         1120
1            16000               Dabur  Large Cap         FMCG          341
2            50000                DHFL    Mid Cap      Finance          610
3            23000           Divis Lab    Mid Cap       Pharma         1123
4            45000               Lupin    Mid Cap       Pharma          741
5            12000      Ruchira Papers  Small Cap         FMCG          185
6            52000           Britianna    Mid Cap         FMCG         5351
7            18000  Persistent Systems  Small Cap           IT          720
8             5000       Bajaj Finance  Large Cap      Finance         1937
9             3500                 DLF    Mid Cap  Real Estate          217
   Amount Invested  Share Price
0         0.943456    -0.015872
1         0.104828    -0.991970
2         0.731522    -0.471596
3        -0.559399    -0.229280
4         0.492462    -0.409718
5        -0.707107    -0.707107
6         0.827145     1.767825
7         0.707107     0.707107
8        -1.048285     1.007841
9        -1.491731    -0.657231

### Filteration

In [28]:
print (mp.groupby('MarketCap').filter(lambda x: len(x)>= 3))

   Amount Invested        Company  MarketCap       Sector  Share Price
0            24000        Infosys  Large Cap           IT         1120
1            16000          Dabur  Large Cap         FMCG          341
2            50000           DHFL    Mid Cap      Finance          610
3            23000      Divis Lab    Mid Cap       Pharma         1123
4            45000          Lupin    Mid Cap       Pharma          741
6            52000      Britianna    Mid Cap         FMCG         5351
8             5000  Bajaj Finance  Large Cap      Finance         1937
9             3500            DLF    Mid Cap  Real Estate          217

What does this mean?<br>
<br>
It will filter out the Groups that have less than 3 companies in that particular group.

### Merging/Joining

In [29]:
import pandas as pd


left_df = pd.DataFrame({
         'id':[1,2,3,4,5],
         'Company': ['Infosys', 'SBI', 'Asian Paints', 'Maruti', 'Sun Pharma'],
         'Sector':['IT','Banks','Paints and Varnishes','Auto','Pharma']})

right_df = pd.DataFrame(
         {'id':[1,2,3,4,5],
         'Company': ['NTPC', 'TCS', 'Lupin', 'ICICI', 'M&M'],
         'Sector':['Power','IT','Pharma','Banks','Auto']})

In [30]:
left_df

        Company                Sector  id
0       Infosys                    IT   1
1           SBI                 Banks   2
2  Asian Paints  Paints and Varnishes   3
3        Maruti                  Auto   4
4    Sun Pharma                Pharma   5

In [31]:
right_df

  Company  Sector  id
0    NTPC   Power   1
1     TCS      IT   2
2   Lupin  Pharma   3
3   ICICI   Banks   4
4     M&M    Auto   5

In [32]:
# Merge 2 DF on a key

print (pd.merge(left_df,right_df, on='id'))

      Company_x              Sector_x  id Company_y Sector_y
0       Infosys                    IT   1      NTPC    Power
1           SBI                 Banks   2       TCS       IT
2  Asian Paints  Paints and Varnishes   3     Lupin   Pharma
3        Maruti                  Auto   4     ICICI    Banks
4    Sun Pharma                Pharma   5       M&M     Auto

In [33]:
print (pd.merge(left_df,right_df, on='Sector'))

    Company_x  Sector  id_x Company_y  id_y
0     Infosys      IT     1       TCS     2
1         SBI   Banks     2     ICICI     4
2      Maruti    Auto     4       M&M     5
3  Sun Pharma  Pharma     5     Lupin     3

In [34]:
# Merge 2 DFs on multiple keys

print (pd.merge(left_df,right_df,on=['Sector','Company']))

Empty DataFrame
Columns: [Company, Sector, id_x, id_y]
Index: []

In [35]:
# Merge using 'how' argument

# Left join

print (pd.merge(left_df, right_df, on='Sector', how='left'))

      Company_x                Sector  id_x Company_y  id_y
0       Infosys                    IT     1       TCS   2.0
1           SBI                 Banks     2     ICICI   4.0
2  Asian Paints  Paints and Varnishes     3       NaN   NaN
3        Maruti                  Auto     4       M&M   5.0
4    Sun Pharma                Pharma     5     Lupin   3.0

In [36]:
# Right join

print (pd.merge(left_df, right_df, on='Sector', how='right'))

      Company_x                Sector  id_x Company_y  id_y
0       Infosys                    IT   1.0       TCS   2.0
1           SBI                 Banks   2.0     ICICI   4.0
2  Asian Paints  Paints and Varnishes   3.0       NaN   NaN
3        Maruti                  Auto   4.0       M&M   5.0
4    Sun Pharma                Pharma   5.0     Lupin   3.0
5           NaN                 Power   NaN      NTPC   1.0

In [37]:
# Outer Join

print (pd.merge(left_df, right_df, on='Sector', how='outer'))

      Company_x                Sector  id_x Company_y  id_y
0       Infosys                    IT   1.0       TCS   2.0
1           SBI                 Banks   2.0     ICICI   4.0
2  Asian Paints  Paints and Varnishes   3.0       NaN   NaN
3        Maruti                  Auto   4.0       M&M   5.0
4    Sun Pharma                Pharma   5.0     Lupin   3.0
5           NaN                 Power   NaN      NTPC   1.0

In [38]:
# Inner Join

print (pd.merge(left_df, right_df, on='Sector', how='inner'))

    Company_x  Sector  id_x Company_y  id_y
0     Infosys      IT     1       TCS     2
1         SBI   Banks     2     ICICI     4
2      Maruti    Auto     4       M&M     5
3  Sun Pharma  Pharma     5     Lupin     3

### Concatenation

In [39]:
print (pd.concat([left_df,right_df]))

        Company                Sector  id
0       Infosys                    IT   1
1           SBI                 Banks   2
2  Asian Paints  Paints and Varnishes   3
3        Maruti                  Auto   4
4    Sun Pharma                Pharma   5
0          NTPC                 Power   1
1           TCS                    IT   2
2         Lupin                Pharma   3
3         ICICI                 Banks   4
4           M&M                  Auto   5

In [40]:
print (pd.concat([left_df, right_df],keys=['x','y']))

          Company                Sector  id
x 0       Infosys                    IT   1
  1           SBI                 Banks   2
  2  Asian Paints  Paints and Varnishes   3
  3        Maruti                  Auto   4
  4    Sun Pharma                Pharma   5
y 0          NTPC                 Power   1
  1           TCS                    IT   2
  2         Lupin                Pharma   3
  3         ICICI                 Banks   4
  4           M&M                  Auto   5

In [41]:
print (pd.concat([left_df,right_df],keys=['x','y'],ignore_index=True))

        Company                Sector  id
0       Infosys                    IT   1
1           SBI                 Banks   2
2  Asian Paints  Paints and Varnishes   3
3        Maruti                  Auto   4
4    Sun Pharma                Pharma   5
5          NTPC                 Power   1
6           TCS                    IT   2
7         Lupin                Pharma   3
8         ICICI                 Banks   4
9           M&M                  Auto   5

In [42]:
print (pd.concat([left_df,right_df],axis=1))

        Company                Sector  id Company  Sector  id
0       Infosys                    IT   1    NTPC   Power   1
1           SBI                 Banks   2     TCS      IT   2
2  Asian Paints  Paints and Varnishes   3   Lupin  Pharma   3
3        Maruti                  Auto   4   ICICI   Banks   4
4    Sun Pharma                Pharma   5     M&M    Auto   5

In [43]:
# Concatenating using append

print (left_df.append(right_df))

        Company                Sector  id
0       Infosys                    IT   1
1           SBI                 Banks   2
2  Asian Paints  Paints and Varnishes   3
3        Maruti                  Auto   4
4    Sun Pharma                Pharma   5
0          NTPC                 Power   1
1           TCS                    IT   2
2         Lupin                Pharma   3
3         ICICI                 Banks   4
4           M&M                  Auto   5

In [44]:

print (left_df.append([right_df,left_df, right_df]))

        Company                Sector  id
0       Infosys                    IT   1
1           SBI                 Banks   2
2  Asian Paints  Paints and Varnishes   3
3        Maruti                  Auto   4
4    Sun Pharma                Pharma   5
0          NTPC                 Power   1
1           TCS                    IT   2
2         Lupin                Pharma   3
3         ICICI                 Banks   4
4           M&M                  Auto   5
0       Infosys                    IT   1
1           SBI                 Banks   2
2  Asian Paints  Paints and Varnishes   3
3        Maruti                  Auto   4
4    Sun Pharma                Pharma   5
0          NTPC                 Power   1
1           TCS                    IT   2
2         Lupin                Pharma   3
3         ICICI                 Banks   4
4           M&M                  Auto   5

### Thank you!